{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Voucher Pool Management Application API",
    "description": "Welcome to our voucher pool application API",
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "host": "vouchers.dev",
  "basePath": "/api/users",
  "tags": [
    {
      "name": "Users",
      "description": "API for users in the system"
    }
  ],
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/signup": {
      "post": {
        "tags": [
          "Users"
        ],
        "description": "Create new user in system",
        "parameters": [
          {
            "name": "user",
            "in": "body",
            "description": "User that we want to create",
            "schema": {
              "$ref": "#/definitions/User"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "New user is created",
            "schema": {
              "$ref": "#/definitions/User"
            }
          }
        }
      }
    },
    "/signin": {
      "post": {
        "tags": [
          "Users"
        ],
        "description": "Sign in system",
        "parameters": [
          {
            "name": "user",
            "in": "body",
            "description": "User that we want to signin with",
            "schema": {
              "$ref": "#/definitions/User"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Sign in success",
            "schema": {
              "required": [
                "email",
                "id"
              ],
              "properties": {
                "email": {
                  "type": "string",
                  "uniqueItems": true
                },
                "id": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/signout": {
      "post": {
        "tags": [
          "Users"
        ],
        "description": "Sign out from system",
        "parameters": [
          {
            "name": "user",
            "in": "body",
            "description": "User that we want to signout"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Signout success"
          }
        }
      }
    },
    "/currentuser": {
      "get": {
        "tags": [
          "Users"
        ],
        "description": "Get current login user or null",
        "parameters": [
          {
            "name": "user",
            "in": "body",
            "description": "Logged in User"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "current user or null",
            "schema": {
              "required": [
                "currentuser"
              ],
              "properties": {
                "currentuser": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  },
  "definitions": {
    "User": {
      "required": [
        "email",
        "password"
      ],
      "properties": {
        "email": {
          "type": "string",
          "uniqueItems": true
        },
        "password": {
          "type": "string"
        }
      }
    },
    "Users": {
      "type": "array",
      "$ref": "#/definitions/User"
    }
  }
}
